@model MembershipApp.Models.ProductSectionModel

@{
    ViewBag.Title = "Index";
}

<div class="headline">
    <h2>@Model.Title</h2>
    <a href="/Home/Index" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Back
    </a>
</div>

@Html.Partial("_ProductSection", Model.Sections)

